<!DOCTYPE html>
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="utf-8">
  <html lang="en-AU">
  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>

  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/images/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/images/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/styles.css') }}">
  {% endblock css %}

  {% block endhead %}{% endblock endhead %}
</head>
<body>
    {% block content %}
        <header>
            {% block header -%}
                <a href="{{ content_url('/index.html') }}">
                  <h1>
                    <div class="stars"></div>
                    <div class="stars-big"></div>
                    <img src="{{ media_url('/images/pig.png') }}" alt="Stromlo Student Seminars 2018" class="logo">
                  </h1>
                  <div id="planets">
                    <img class="planet" id="jupiter" src="{{ media_url('/images/jupiter.svg') }}">
                    <img class="planet" id="neptune" src="{{ media_url('/images/neptune.svg') }}">
                    <img class="planet" id="saturn" src="{{ media_url('/images/saturn.svg') }}">
                    <img class="planet" id="star" src="{{ media_url('/images/star.svg') }}">
                  </div>
                </a>
            {%- endblock %}
            {% block marquee %}
                <p id="marquee">
                  <span id="marquee-hidden" style="display: none">
                    <s>not</s> featuring fun talks such as:
                    <strong id="fake-title"></strong>
                  </span>
                </p>
            {% endblock %}
            {% block nav %}
                {% from "macros.j2" import render_nav with context %}
                {{ render_nav(menu, 'main-nav') }}
            {% endblock %}
        </header>
        <div id="main-container">
          <div class="stars"></div>
          <div class="stars-big"></div>
          <main>
              {% filter markdown -%}
                  {% block main %}
                  {% endblock main %}
              {%- endfilter %}
          </main>
        </div>
      </div>
    <footer>
      {% block footer %}
        <div id="footer-content">
          {% from "macros.j2" import render_nav with context %}
          {{ render_nav(menu, 'footer-nav') }}
          <img src id="footer-decoration" alt>
        </div>
      {% endblock footer %}
    {% endblock content %}

    <script src="{{ media_url('scripts/third_party/markov-chain.js') }}"></script>
    <script src="{{ media_url('scripts/make_titles.js') }}"></script>
    <script>
      let title = getTitle(75);
      document.getElementById('fake-title').innerHTML = title;
      document.getElementById('marquee-hidden').style.display = 'block';
    </script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
